<!DOCTYPE html>
<html lang="en">

<head>
  <title>Zam's About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="js/menu.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="container-fluid">
    <div class="hometext">
      <div class="a">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-12">
            <h1 align="center">About Me</h1>
            <hr/>
            <h2 align="center">Objective</h2>
            <p class="lead">I am a focused and hardworking professional with many years of experience in the healthcare industry who is now
              seeking a fulfilling career in the technology industry as a software developer.</p>
            <hr/>
            <h2 align="center">Education</h2>
            <p class="lead text-center">
              Univeristy of California, Berkeley
              <ul class="list-unstyled">
                <li class="text-center">Bachelor of Arts in Philosophy</li>
              </ul>
            </p>
            <p class="lead text-center">
              Origin Code Academy
              <ul class="list-unstyled">
                <li class="text-center">Full Stack Javascript</li>
              </ul>
            </p>
            <hr/>
            <h2 align="center">Skills</h2>
            <div class="col-sm-4 col-lg-4">
              <ul>
                <li>JavaScript</li>
                <li>HTML/CSS</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Version Control (Git)</li>
                <li>GitHub</li>
              </ul>
            </div>

            <div class="col-sm-4 col-lg-4">
              <ul>
                <li>React</li>
                <li>Webpack</li>
                <li>Redis</li>
                <li>HTTP</li>
                <li>RESTful APIs</li>
                <li>SSL</li>
                <li>Heroku</li>
                <li>Performance Optimization</li>
              </ul>
            </div>

            <div class="col-sm-4 col-lg-4">
              <ul>
                <li>CircleCI</li>
                <li>ChromeDev Tools</li>
                <li>Leadership</li>
                <li>UI/UX Design</li>
                <li>Photoshop</li>
                <li>Bilingual</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

</body>

</html>
