<!DOCTYPE html>
<html lang="en">

<head>
  <title>Zam's About</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="js/menu.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="container-fluid">

    <div class="hometext">
      <div class="a">
        <h1>About Me</h1>
        <h2>Objective</h2>
        <p>I am a focused and hardworking professional with many years of experience in the healthcare industry who is now seeking
          a fulfilling career in the technology industry as a software developer.</p>
        <h2>Skills</h2>
        <p>JavaScript, HTML/CSS, Node.js, Express, MySQL, MongoDB, Redis, HTTP, RESTful APIs, SSL, Heroku, Performance Optimization,
          Version Control (Git), GitHub, React, Webpack, CircleCI, Leadership, UI/UX Design, Photoshop, Bilingual, ChromeDev
          Tools
        </p>
        <h2>Education</h2>
        <p>Univeristy of California, Berkeley - Bachelor of Arts in Philosophy
        </p>
        <p>Origin Code Academy - Full Stack Javascript Course
        </p>
      </div>
    </div>
    <div align="center">
      <a href="https://github.com/zamarise">
        <i class="fab fa-github fa-7x icons"></i>
      </a>
      <a href="https://linkedin.com/in/zamarise">
        <i class="fab fa-linkedin fa-7x icons"></i>
      </a>
    </div>

  </div>

</body>

</html>
