<!DOCTYPE html>
<html lang="en">

<head>
  <title>Zam | Full Stack Web Developer</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="js/menu.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="container-fluid">
    <div class="hometext">
      <div class="a">

        <img src="images/zam-anza.jpg" alt="Zam" class="responsive center pic" />

        <h1 align="center">Hi, I'm
          <a href="/about" class="dotted">
            <%= person.firstName %>
          </a>
        </h1>

        <h2 align="center">
          <a href="/portfolio" class="dotted">Full-stack developer</a> for
          <a href="/contact" class="dotted">hire</a>
        </h2>
        <h4 align="center">Based in San Diego, CA, USA</h4>
      </div>
    </div>
    <!-- <div align="right">
      <a href="https://github.com/zamarise">
        <i class="fab fa-github fa-7x icons"></i>
      </a>
    </div> -->

  </div>

</body>

</html>
