<!DOCTYPE html>
<html lang="en">

<head>
  <title>Zam's Portfolio</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <script src="js/menu.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="container-fluid">
    <div class="hometext">
      <div class="a">

        <h1 align="center">Portfolio</h1>


        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="https://github.com/zamarise/startnow-react100-mortgage-calculator" class="thumbnail">
              <img src="https://github.com/zamarise/startnow-react100-mortgage-calculator/raw/master/mortgage-calculator.png" alt="mortgage-calculator"
                class="img-rounded">
              <div class="caption">
                <p class="lead">React Mortgage Calculator</p>
                <h4>Calculates monthly mortgage payments with user input of annual interest rate and selection of loan term of
                  15 or 30 years.</h4>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="https://github.com/zamarise/startnow-react100-vstda" class="thumbnail">
              <img src="https://github.com/zamarise/startnow-react100-vstda/raw/master/vstda-react.png" alt="vstda-react" class="img-rounded">
              <div class="caption">
                <p class="lead">Very Simple ToDo App (VSTDA)</p>
                <h4>A ToDo app using React that allows users to enter their todo items and prioritize them based on their importance.</h4>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="https://github.com/zamarise/startnow-react100-hackathon" class="thumbnail">
              <img src="https://github.com/zamarise/startnow-react100-hackathon/raw/master/hackathon-make.png" alt="what-should-i-make-mobile"
                class="img-rounded">
              <div class="caption">
                <p class="lead">What Should I Make Today?</p>
                <h4>A hackathon project (made in React). Refresh the page for a new recipe.</h4>
              </div>
            </a>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <a href="https://github.com/zamarise/startnow-react100-san-diego-top-spots" class="thumbnail">
                <img src="https://github.com/zamarise/startnow-react100-san-diego-top-spots/raw/master/san-diego-top-spots-react.png" alt="san-diego-top-spots-react"
                  class="img-rounded">
                <div class="caption">
                  <p class="lead">React San Diego Top Spots</p>
                  <h4>A small informational website containing a list of 30 "top places to see" in San Diego.</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="https://github.com/zamarise/startnow-astro-weight-calculator" class="thumbnail">
              <img src="https://github.com/zamarise/startnow-astro-weight-calculator/raw/master/astro-weight-calculator-screenshot.png"
                alt="astro-weight-calculator-screenshot" class="img-rounded">
              <div class="caption">
                <p class="lead">Astro Weight Calculator</p>
                <h4>Calculate what your weight (or any weight!) would be on another planet.</h4>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <a href="https://github.com/zamarise/startnow-change-calculator" class="thumbnail">
              <img src="https://github.com/zamarise/startnow-react100-change-calculator/raw/master/change-calculator-full.png" alt="change-calculator"
                class="img-rounded">
              <div class="caption">
                <p class="lead">React Change Calculator</p>
                <h4>Calculates change due for each denomination contained in the state of the component and prints the number
                  of denominations to the correct area of the application.</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
