body {
  background: -webkit-linear-gradient(to left, rgb(202, 255, 253), rgb(246, 190, 229));
  background: linear-gradient(to left, rgb(202, 255, 253), rgb(246, 190, 229));
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #3b3a36;
  padding: 10px;
}

hr {
  height: 1px;
  color: snow;
  background: snow;
  font-size: 0;
  border: 0;
  margin-bottom: 30px;
  align-content: center;
}

a {
  color: #9fa8a3;
  transition: 0.5s;
  padding-top: 60px;
}

a:hover {
  text-decoration: none;
  color: #3b3a36;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: snow;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #9fa8a3;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #3b3a36;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.pic {
  border-radius: 50%;
}

.responsive {
  width: 100%;
  max-width: 140px;
  height: auto;
}

.icons {
  padding-top: 15px;
  /* position: absolute; */
}

.thanks {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hometext {
  text-align: left;
  height: auto;
}

.hometext > .a {
  text-align: center;
  height: auto;
}

.portfolio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 10px;
}

.thumbnail {
  background-color: transparent;
  border: 10px solid transparent;
}
